
<div class="menu">
  <div class="padding_wrapper">
    <ul>
      <li>
        <%= link_to '차트 그리기', d3_root_path %>
      </li>
      <li>
        <%= link_to '산포도 그리기', d3_practice_02_path %>
      </li>

      <li>
        <%= link_to '반응하는 차트 그리기', d3_practice_03_path %>
      </li>


      <li>
        <%= link_to '반응하는 산포도 그리기', d3_practice_04_path %>
      </li>


      <li>
        <%= link_to '데이터가 추가되는 차트', d3_practice_05_path %>
      </li>



      <li>
        <%= link_to '파이차트', d3_practice_06_path %>
      </li>
    </ul>
  </div>
</div>
