
<div class="menu">
  <div class="padding_wrapper">
    <ul>
<!--       <li>
        <%= link_to '세계지도 기본 그리기', map_root_path %>
      </li>

      <li>
        <%= link_to '한국지도 기본 그리기', map_practice_02_path %>
      </li>

      <li>
        <%= link_to '동시에 같은 곳 그리기', map_practice_03_path %>
      </li>


      <li>
        <%= link_to '줌, 패닝', map_practice_04_path %>
      </li>



      <li>
        <%= link_to '마커 찍기', map_practice_05_path %>
      </li>

      <li>
        <%= link_to '어트리뷰트로 색깔 바꾸기', map_practice_06_path %>
      </li>


      <li>
        <%= link_to 'Ray Interaction', map_practice_07_path %>
      </li>


 -->
<!-- 
      <li>
        <%= link_to 'Ray Interaction-Click Event', map_practice_08_path %>
      </li>
 -->


      <li>
        <%= link_to 'Labeling', map_practice_10_path %>
      </li>




      <li>
        <%= link_to '한국지도 동단위', map_practice_12_path %>
      </li>
 
      <li>
        <%= link_to '동단위 부분로드', map_practice_13_path %>
      </li>


 
      <li>
        <%= link_to '점선 그리기 연습', map_practice_14_path %>
      </li>

      <li>
        ------ 1차 피드백 -----
      </li>

      <li>
        <%= link_to '한국지도 시/군/구', map_practice_11_path %>
      </li>


      <li>
        <%= link_to '세계지도 Picking', map_practice_09_path %>
      </li>


      <li>
        <%= link_to '상태 이미지 표시', map_practice_15_path %>
      </li>
 

 
    </ul>
  </div>
</div>
